.card-outer-div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    margin: 20px auto; 
}

.card-box{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1rem;
    width: 32%;
}

.card-box:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.cardName-Editbutton{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.editbtn{
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}
.line{
    margin: 0.8rem;
    width: 100%;
}
.card-header{
    font-size: 1.5rem;
}

.flex-dvi{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;
}

.card-tl-space{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    gap: 10px;
}